<a href="https://colab.research.google.com/github/OIXILH/project/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [10]:
df1 = pd.read_csv('https://raw.githubusercontent.com/OIXILH/project/main/by%20ethnicity%20and%20age%20group-table.csv')
df2= pd.read_csv('https://raw.githubusercontent.com/OIXILH/project/main/by%20ethnicity%20and%20gender-table.csv')
df2

  Unnamed: 0 All   Unnamed: 2 Female   Unnamed: 4 Male   Unnamed: 6
0  Ethnicity   %  Sample size      %  Sample size    %  Sample size
1      Asian  15        6,156     15        3,080   15        3,076
2      Black  15        2,855     16        1,697   14        1,158
3      Mixed  20        1,163     19          649   21          514
4      White  14       91,345     14       49,258   14       42,087
5      Other  16          862     17          436   15          426